@import '../../../../../- bootstrap/scss/functions';

$primary: #4191d2;
$secondary: #8ebfe6;
$light: #eef1f6;
$dark: #090c11;

@import '../../../../../- bootstrap/scss/variables';
@import '../../../../../- bootstrap/scss/maps';
@import '../../../../../- bootstrap/scss/mixins';
@import '../../../../../- bootstrap/scss/root';
